$bordergrey: #aaa;
$itemselect: #7AD497;
$black: black;
$white: white;
$greenProcess: #D4FDD7;
$yellowAction: #FFFCCD;
$inputColor: #FFDCA6;
$finishGreen: #D4FFCD;
$orange: rgb(236, 177, 71);

.authentication {
  margin-top: 150px;
}

.authentication__form {
  border: 2px solid $bordergrey;
  border-radius: 5px;
  padding: 40px
}

.authentication__form__title {
  margin-top: 0px;
}

.notification-box {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 10px;
  z-index: 1;
}

.process-bubble {
  border: 1px solid $bordergrey;
  border-radius: 5px;
  margin-bottom: 20px;
}

.process-bubble__title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid $bordergrey;
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-size: 18px;
  background-color: $black;
  color: $white;
}

.process-bubble__title__version {
  margin: 15px;
  color: $bordergrey;
  font-size: 14px;
}

.process-bubble__close {
  float: right;
  padding-right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: $bordergrey;
}

.process-bubble__close:hover {
  color: $white;
}

.process-bubble__list {
  height: 500px;
  list-style: none;
  padding: 0px;
  overflow-y: auto;
  margin: 0px;
}

.process-bubble__list li {
  border-bottom: 1px solid $bordergrey;
}

.process-bubble__list__item {
  height: 52px;
  padding: 16px;
  cursor: pointer;
}

.process-bubble__list__item:hover {
  background-color: $itemselect;
}

.process-bubble__list__item--not_started {
  @extend .process-bubble__list__item;
}

.process-bubble__list__item--not_started:hover {
  @extend .process-bubble__list__item:hover;
}

.process-bubble__list__item--task {
  background-color: $yellowAction;
  @extend .process-bubble__list__item;
}

.process-bubble__list__item--task:hover {
  @extend .process-bubble__list__item:hover; 
}

.process-bubble__list__item--input {
  background-color: $inputColor;
  @extend .process-bubble__list__item;
}

.process-bubble__list__item--input:hover {
  @extend .process-bubble__list__item:hover; 
}

.process-bubble__list__item--finished {
  background-color: $finishGreen;
  @extend .process-bubble__list__item; 
}

.process-bubble__list__item--finished:hover {
  @extend .process-bubble__list__item:hover; 
}

.process-bubble__back {
  color: $black;
  font-size: 28px;
  cursor: pointer;
}

.process-bubble__back:hover {
  color: $bordergrey;
}

.process-details-table {
  margin-bottom: 10px;
}

.process-bubble__details {
  height: 500px;
  padding: 5px;
  overflow-y: auto; 
}

.process-bubble__details__buttons button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.process-bubble__list__item__creation-time {
  padding-left: 20px;
  color: $bordergrey;
}

.process-bubble__list__item__version {
  color: $bordergrey;
}

.process-details__main-panel {
  width: 50%;
  display: inline-block;
  padding: 5px;
}

.process-details__action-display {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  padding: 5px;
}

.process-details__action-display__list {
  margin: 0px;
  padding: 0px;
  list-style: none; 
}

.process-details__panel {
  
}

.process-details__action-display__list__item {
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid;
  height: 50px;
}

.process-details__action-display__list__item--current {
  @extend .process-details__action-display__list__item;
  background-color: $yellowAction;
}

.process-details__action-display__list__item--finished {
  @extend .process-details__action-display__list__item;
  background-color: $finishGreen;
}

.process-details__task-display__list {
  @extend .process-details__action-display__list;
  border-radius: 0px;
}

.process-details__task-display__list__item {
  height: 40px;
  border: 1px solid;
  margin-bottom: 10px;
}

.process-bubble__details__menu {
  padding: 5px;
}

.process-bubble__footer {
  background-color: $black;
  height: 40px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.process-bubble__add {
  font-size: 18px;
  padding: 10px;
  color: $bordergrey;
  cursor: pointer;
}

.process-bubble__add:hover {
  color: $white;
}

.navbar__blueprint-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navbar__blueprint-list__item {
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.navbar__blueprint-list__item--selected {
  @extend .navbar__blueprint-list__item;
//  box-shadow: inset -1px -1px $bordergrey;
  background-color: $yellowAction;
}

.navbar__blueprint-list__item:hover {

}

.task-item--assigned {
  background-color: $yellowAction;
}

.task-item--finished {
  background-color: $finishGreen;
}

.glyph-button {
  color: $black;
  font-size: 28px;
  cursor: pointer;  
  margin-right: 10px;
}

.glyph-button--orange {
  @extend .glyph-button;
  color: $orange;
}

.glyph-button:hover {
  color: $bordergrey;
}
